@model dynamic
@using Gui.DrinkServiceRef
@using Gui.CustomerServiceRef
@using Gui.IngredientServiceRef
@using System.Dynamic

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@if (@Model.Drinks != null)
{
    <h3>Drinks</h3>
<table class="table" style="color: white;">
    <tr>
        <th>
            Img
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
@foreach (var item in @Model.Drinks)
{
    <tr>
        <td width="110">
            <img src="@Url.Content(item.Img)" alt="Image" height="100px" width="100px" />
        </td>
        <td width="200">
            <p>@item.Name</p>
        </td>
        <td>
            <p>@item.Description</p>
        </td>
        <td>
            <p>@item.Price kr.</p>
        </td>
    </tr>
}
</table>
}

<h3>Ingredient</h3>
    <table class="table" style="color: white;">
        <tr>
            <th>
                Name
            </th>
            <th>
                Procent
            </th>
        </tr>
        @foreach (var ing in @Model.Ingredients)
        {
            <tr>
                <th>
                    <P>@ing.Name</P>
                </th>
                <th>
                    <p>@ing.Procent %</p>
                </th>
            </tr>
        }
    </table>

    @if (@Model.Customers != null)
    {
        <h3>Barer</h3>
        <table class="table" style="color: white;">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Img
                </th>
                <th>
                    Region
                </th>
                <th>
                    Adresse
                </th>
            </tr>
            @foreach (var cus in @Model.Customers)
            {
                <tr>
                    <th>
                        <p>@cus.CusName</p>
                    </th>
                    <th>
                        <p>@cus.Img</p>
                    </th>
                    <th>
                        <p>@cus.Region</p>
                    </th>
                    <th>
                        <p>@cus.Address</p>
                    </th>
                </tr>
            }

        </table>
    }
    else
    {
                            <h3>No Bars found</h3> }
