@model Gui.DrinkServiceRef.Alchohol
    @using Gui.Helpers

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procent)
        </dd>
        <dt>

        </dt>
        <dd>
            @if (AuthHelper.IsLoggedIn())
            {<input id="Button1" type="submit" value="Tilføj Favorit" onclick="location.href='@Url.Action("AddAlchohol", "Drink", new { drinkId = @Model.ID, userName = AuthHelper.CurrentUser.Username })'" />}
            else
            {<p>Du skal være logget ind før du kan tilføje favorit</p>}
        </dd>

    </dl>
</div>
