@model Gui.MenucardServiceRef.MenuCard

<h2>@Model.Customer.CusName</h2>

<div style="color:white;">
    <h4>MenuCard</h4>
    <hr />
    @using (Html.BeginForm("SearchMenucard", "Customer", FormMethod.Post))
    {
        <input type="text" name="text" value="" />
        <input type="hidden" name="id" value="@Model.Customer.ID"/>
        <input type="submit" id="sumbitText" value="Søg" />
    }
    <dl class="dl-horizontal">
        @foreach (Gui.MenucardServiceRef.Drink d in Model.Drinks)
        {
            <dt>

            </dt>
            <dd>
                <img src="@Url.Content(d.Img)" alt="" height="200px" width="auto" />
            </dd>
            <dt>
                Name
            </dt>
            <dd>
                @d.Name
            </dd>
            <dt>
                Description
            </dt>
            <dd>
                @d.Description
            </dd>
            <dt>

            </dt>
            <dd>
            <input id="Button1" type="submit" value="Add To Cart" onclick="location.href='@Url.Action("Create", "Drink", new { drinkId = d.ID, cusID = Model.Customer.ID })'" />
            </dd>
          }

        @foreach (Gui.MenucardServiceRef.Alchohol d in Model.alchohols)
        {
            <dt>

            </dt>
            <dd>
                <img src="@Url.Content(d.Img)" alt="" height="200px" width="auto" />
            </dd>
            <dt>
                Name
            </dt>
            <dd>
                @d.Name
            </dd>
            <dt>
                Procent
            </dt>
            <dd>
                @d.Procent
            </dd>
            <dt>

            </dt>
            <dd>
                <input id="Button1" type="submit" value="Add To Cart" onclick="location.href='@Url.Action("Create", "Drink", new { drinkId = d.ID, cusID = Model.Customer.ID })'" />
            </dd>
        }

        @foreach (Gui.MenucardServiceRef.HelFlask d in Model.helflasks)
        {
            <dt>

            </dt>
            <dd>
                <img src="@Url.Content(d.Img)" alt="" height="200px" width="auto" />
            </dd>
            <dt>
                Name
            </dt>
            <dd>
                @d.Name
            </dd>
            <dt>
                Procent
            </dt>
            <dd>
                @d.Procent
            </dd>
            <dt>

            </dt>
            <dd>
                <input id="Button1" type="submit" value="Add To Cart" onclick="location.href='@Url.Action("Create", "Drink", new { drinkId = d.ID, cusID = Model.Customer.ID })'" />
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
